name: ndx-cell-culture
version: 1.0rc1
src: https://github.com/braingeneers/ndx-cell-culture
pip: https://pypi.org/project/ndx-cell-culture/
license: BSD-3-Clause
maintainers:
  - name: David Parks
    email: dfparks@ucsc.edu
    affiliation: Braingeneers Lab, UC Santa Cruz
